<footer class="footer">
    <div class="container">
        <nav class="nav-inline pull-right">
            <a href="/page/mentions-legales" title="Mentions legales et politique de confidentialité"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Mentions<span class="hidden-xs"> légales / Données personnelles</span></a>
            <span class="hidden-xs">·</span><a href="/contact" title="Contacter LAEC.fr"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Contact</a><span class="hidden-xs">·</span>
            <a href="/recherche" title="Rechercher dans L&#039;Avenir En Commun"><i class="fa fa-fw fa-search" aria-hidden="true"></i><span class="hidden-xs"> Recherche</span></a>
        </nav>
        <p class="text-muted">
            <small>
                <i class="fa fa-fw fa-coffee" data-special></i>
                <span class="hidden-xs"> Site à l'initiative de <a href="http://discord-insoumis.fr/" class="external" title="Découvrez le Discord Insoumis et ses nombreuses initiatives…">citoyens insoumis</a>.</span>
            </small>
        </p>
    </div>
</footer>