<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Afficher la navigation</span>
            <i class="fa fa-fw fa-navicon" aria-hidden="true"></i>
         </button>
         <a class="navbar-brand" accesskey="1" title="L'Avenir En Commun, le programme de la France insoumise" rel="home" data-load-display="" href="/">
            <img src="/static/laec-fr-couleur-marge-interne.svg" style="max-height: 70px;" data-no-svg-src="/img/logotype/laec-fr-couleur-marge-interne.png" alt="Logotype «&nbsp;l'avenir en commun&nbsp;»">
               <span class="sr-only">L'avenir en commun</span>
            </a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <li>
                  <a title="Qu'est-ce que LAEC.fr&nbsp;? Qui s'en occupe&nbsp;?" href="/#a-propos">
                     <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                     <span class="hidden-sm"> À propos</span>
                  </a>
               </li>
               <li>
                  <a title="Sommaire complet du programme" data-load-display="" href="/sommaire">
                     <i class="fa fa-fw fa-list-ul" aria-hidden="true"></i>
                     <span class="hidden-sm"> Table des matières</span>
                     <span class="visible-sm-inline"> Sommaire</span>
                  </a>
               </li>
            </ul>
            <form action="/recherche" class="navbar-form navbar-right navbar-searchbox-form form-total-loading">
               <div class="input-group">
                  <input type="text" id="searchbox" name="termes" autocomplete="off" class="form-control" placeholder="Ex: Partage, écologie…">
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                           <span class="sr-only">Rechercher</span>
                           <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                        </button>
                     </span>
                  </div>
               </form>
            </div>
         </div>
         <div class="flash-group"></div>
      </nav>