<aside class="col-md-4 col-md-push-8 aside-content-container">
   <ul role="navigation" id="side-navigation">
      <li data-track-event="Navigation" data-event-action="Au hasard&nbsp;!" data-event-name="Navigation du contenu" title="" data-delay="{&quot;show&quot;:&quot;800&quot;, &quot;hide&quot;:&quot;50&quot;}" data-toggle="tooltip" data-original-title="Consulter une section du programme au hasard">
         <a data-li-tooltip="" data-load-display="" href="/hasard">
            <i class="fa fa-fw fa-random" aria-hidden="true"></i> Au hasard !
         </a>
      </li>
   </ul>
   <p class="sidelines" aria-hidden="true">
      <i class="fa fa-fw fa-phi"></i>
   </p>
   <p>Vous 
      <strong>approuvez ce programme</strong> et souhaitez le voir appliqué&nbsp;?&nbsp;Alors aidez la France insoumise dans ses initiatives&nbsp;!
   </p>
   <p>
      <a href="https://lafranceinsoumise.fr/" class="external btn btn-primary btn-block" title="Soutenir la France Insoumise">Soutenir ce programme 
         <i class="fa fa-fw fa-hand-o-right" aria-hidden="true"></i>
      </a>
   </p>
</aside>