{% extends 'base.html' %}
{% block body %}
<body id="body">
         {% include "_navbar.html" %}
	       <ul>
	       {% for article in articles %}
	       <li>{{ article.title }}</li>
	       {% endfor %}
	       </ul>
                  {% include '_footer.html' %}
                  <script src="/static/app.js"></script>
                  <div class="total-loading-backdrop">
                     <div class="loading-animation">
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                     </div>
                  </div>
               </body>
            </html>
{% endblock body %}
