{% extends 'base.html' %}
{% block html_class %}page-section{% endblock %}
{% block body %}

<body id="body">
   <div class="visible-print-block text-center print-logotype" aria-hidden="true">
      <img src="/img/logotype/livre-phi-laec-fr-mention-impression.svg" style="max-height: 70px; width: auto;" alt="Logotype l'avenir en commun" data-no-svg-src="/img/logotype/livre-phi-laec-fr-mention-impression.png"/>
      <hr>
         <small>Le programme de la 
            <strong>France insoumise</strong>
         </small>
      </div>
   {% include "_navbar.html" %}
   
      <div class="jumbotron" aria-hidden="true">
         <div class="container">
            <h1>
               <span class="number">{{article.number}}</span>
               <b class="text-balance">{{article.title}}</b>
            </h1>
            <p class="sidelines">
               <i class="fa fa-institution"></i>
            </p>
            <a rel="contents" data-load-display href="/chapitre/1/la-6e-republique">
               <i class="fa fa-fw fa-arrow-left"></i>
               <span class="hidden-xs"> Index du chapitre</span>
            </a>
         </div>
      </div>
      <div class="wrap-container-main">
         <div class="container container-main">
            <noscript class="visible-no-js small text-muted">
               <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Je n'ai pas activé le javascript, 
               <a href="/page/le-javascript-c-est-non" title="Informations sur les fonctionnalités de LAEC.fr nécessitant l'utilisation de javascript">qu'est-ce que je manque</a> ?
            </noscript>
            <div class="row">
                  {% include '_sidebar.html' %}
                  <article class="col-md-8 col-md-pull-4 main-content-container" id="contenu" role="main">
                     <section class="actions actions-s">
                        <div class="btn-toolbar" role="toolbar" aria-label="Actions disponibles pour cette section">
                           <div class="btn-group"></div>
                           <div class="btn-group">
                              <button title="Lien direct vers la section et boutons de partage sur les réseaux sociaux" class="btn btn-default share-collapser" data-target="#panel-s-share-1" aria-controls="panel-s-share-1" aria-expanded="false" data-toggle="collapse">
                                 <i class="fa fa-fw fa-share-alt"></i>&nbsp;
                                 <span class="visible-lg-inline">Partager</span>
                              </button>
                           </div>
                           <div class="btn-group pull-right js-only"></div>
                        </div>
                        <div class="collapse collapsable share-collapsable" id="panel-s-share-1">
                           <div class="panel-wrap">
                              <div class="panel panel-default">
                                 <div class="panel-heading">Faites tourner cette section !</div>
                                 <div class="panel-body">
                                    <div class="row">
                                       <div class="col-md-5">
                                          <label for="share-control-s-1">
                                             <i class="fa fa-fw fa-link" aria-hidden="true"></i>Lien court direct
                                          </label>
                                          <div class="form">
                                             <div class="form-group">
                                                <div class="input-group">
                                                   <div class="input-group-addon">
                                                      <i class="fa fa-fw fa-anchor" aria-hidden="true"></i>
                                                   </div>
                                                   <input type="text" id="share-control-s-1" class="form-control share-control" readonly="readonly" value="http://laec.fr/s1" autofocus>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <label>
                                                <i class="fa fa-fw fa-share" aria-hidden="true"></i>Réseaux sociaux
                                             </label>
                                             <nav class="btn-group networks" role="group">
                                                <a data-popup-dimensions="560,430" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flaec.fr%2Fs1" class="btn btn-default share-link" data-network="Facebook" title="Partager cette section sur Facebook">
                                                   <span class="visible-lg-inline visible-sm-inline">Facebook </span>
                                                   <i class="fa fa-fw fa-facebook"></i>
                                                </a>
                                                <a data-popup-dimensions="430,284" href="https://twitter.com/home?status=%C3%80%20lire%20absolument%C2%A0%3A%20http%3A%2F%2Flaec.fr%2Fs1%20%F0%9F%98%8E%20%23AvenirEnCommun%20%23M%C3%A9lenchon%20%23JLM2017" class="btn btn-default share-link" data-network="Twitter" title="Partager cette section sur twitter">
                                                   <span class="visible-lg-inline visible-sm-inline">Twitter </span>
                                                   <i class="fa fa-fw fa-twitter"></i>
                                                </a>
                                             </nav>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
               {{ content|safe }}
                                 <hr>
                                    <p class="text-muted text-left campaign-support">Vous approuvez et souhaitez voir cette section 
                                       <strong>appliquée</strong>&nbsp;? Alors aidez la 
                                       <a class="external" href="https://lafranceinsoumise.fr/" title="Soutenir la France Insoumise">France insoumise</a>&nbsp;!
                                    </p>
                              <a href="#body" id="back-to-top" data-do-scroll-to="800" title="Retour en haut de la page">
                                 <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                 <span> Retour en haut de page</span>
                              </a>
                           </div>
                        </div>
                        {% include '_footer.html' %}
                        <div class="modal fade modal-measure" measure-index="1" id="modal-measure-1" tabindex="-1" role="dialog" aria-labelledby="#modal-measure-label-1">
                           <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                       <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                                    </button>
                                    <h4 class="modal-title" id="modal-measure-label-1">
                                       <i class="hidden-xs hidden-sm fa fa-fw fa-2x fa-pull-left fa-institution" aria-hidden="true"></i>
                                       <span class="alternate">L&#039;urgence démocratique</span>Réunir une Assemblée constituante
                                    </h4>
                                 </div>
                                 <div class="modal-body lead">
                                    <p>Convoquer un référendum (article 11 de la Constitution) pour engager le processus constituant (modalités de la composition de l'Assemblée constituante — mode de scrutin, parité, tirage au sort et incompatibilités ; modalités de la délibération ; association des citoyens aux travaux…)</p>
                                 </div>
                                 <div class="modal-footer actions">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fermer 
                                       <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                                    </button>
                                    <button title="Lien direct vers la mesure et boutons de partage sur les réseaux sociaux" class="btn btn-default share-collapser" data-target="#panel-m-share-1" aria-controls="panel-m-share-1" aria-expanded="false" data-toggle="collapse">
                                       <i class="fa fa-fw fa-share-alt"></i>&nbsp;
                                       <span class="visible-lg-inline">Partager</span>
                                    </button>
                                    <button title="À propos du livre papier…" class="btn btn-default pageref-collapser" data-target="#panel-m-pageref-1" aria-controls="panel-m-pageref-1" aria-expanded="false" data-toggle="collapse">
                                       <i class="fa fa-fw fa-bookmark"></i>&nbsp;
                                       <span class="visible-lg-inline">Page 
                                          <strong>23</strong>
                                       </span>
                                    </button>
                                    <div class="collapse collapsable share-collapsable" id="panel-m-share-1">
                                       <div class="panel-wrap">
                                          <div class="panel panel-default">
                                             <div class="panel-heading">Faites tourner cette mesure !</div>
                                             <div class="panel-body">
                                                <div class="row">
                                                   <div class="col-md-5">
                                                      <label for="share-control-m-1">
                                                         <i class="fa fa-fw fa-link" aria-hidden="true"></i>Lien court direct
                                                      </label>
                                                      <div class="form">
                                                         <div class="form-group">
                                                            <div class="input-group">
                                                               <div class="input-group-addon">
                                                                  <i class="fa fa-fw fa-anchor" aria-hidden="true"></i>
                                                               </div>
                                                               <input type="text" id="share-control-m-1" class="form-control share-control" readonly="readonly" value="http://laec.fr/s1m1" autofocus>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-7">
                                                         <label>
                                                            <i class="fa fa-fw fa-share" aria-hidden="true"></i>Réseaux sociaux
                                                         </label>
                                                         <nav class="btn-group networks" role="group">
                                                            <a data-popup-dimensions="560,430" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flaec.fr%2Fs1m1" class="btn btn-default share-link" data-network="Facebook" title="Partager cette mesure sur Facebook">
                                                               <span class="visible-lg-inline visible-sm-inline">Facebook </span>
                                                               <i class="fa fa-fw fa-facebook"></i>
                                                            </a>
                                                            <a data-popup-dimensions="430,284" href="https://twitter.com/home?status=%C3%80%20lire%20absolument%C2%A0%3A%20http%3A%2F%2Flaec.fr%2Fs1m1%20%F0%9F%98%8E%20%23AvenirEnCommun%20%23M%C3%A9lenchon%20%23JLM2017" class="btn btn-default share-link" data-network="Twitter" title="Partager cette mesure sur twitter">
                                                               <span class="visible-lg-inline visible-sm-inline">Twitter </span>
                                                               <i class="fa fa-fw fa-twitter"></i>
                                                            </a>
                                                            <a data-popup-dimensions="400,415" href="https://plus.google.com/share?url=http%3A%2F%2Flaec.fr%2Fs1m1" class="btn btn-default share-link" data-network="Google+" title="Partager cette mesure sur Google+">
                                                               <span class="visible-lg-inline visible-sm-inline">Google+ </span>
                                                               <i class="fa fa-fw fa-google-plus"></i>
                                                            </a>
                                                         </nav>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="collapse collapsable pageref-collapsable" id="panel-m-pageref-1">
                                          <div class="panel-wrap">
                                             <div class="panel panel-default">
                                                <div class="panel-heading">L&#039;Avenir en commun</div>
                                                <div class="panel-body">
                                                   <div class="row">
                                                      <div class="col-sm-2 col-sm-push-10 hidden-xs">
                                                         <img src="/img/livre/miniature-couverture-avenir-en-commun-france-insoumise-melenchon.png" alt="Couverture du livre-programme aux publié aux éditions du Seuil" class="img-responsive img-thumbnail"/>
                                                      </div>
                                                      <div class="col-sm-10 col-sm-pull-2">
                                                         <p>Retrouvez ce passage à la 
                                                            <strong>page 23</strong> du livre-programme de la France insoumise, publié aux 
                                                            <a href="http://www.seuil.com/ouvrage/l-avenir-en-commun-jean-luc-melenchon/9782021317510" class="external" title="Le programme sur le site officiel des éditions du Seuil">éditions du Seuil</a> et trouvable dans toutes les 
                                                            <a class="external" title="« Les libraires », réseau de librairies indépendantes" href="https://www.leslibraires.fr/le_reseau/">librairies</a> au prix de 
                                                            <strong>3 €</strong>.
                                                         </p>
                                                         <p>Vous pouvez aussi l'obtenir dans des magasins en lignes tels qu'
                                                            <a href="https://www.amazon.fr/programme-insoumise-candidat-Jean-Luc-M%C3%A9lenchon/dp/202131751X/" class="external">Amazon</a> ou la 
                                                            <a href="http://livre.fnac.com/a9371063/Jean-Luc-Melenchon-L-avenir-en-commun" class="external">Fnac</a>, ou encore le commander via internet chez un 
                                                            <a class="external" title="Trouver « L&#039;Avenir en commun » dans le réseau « les libraires »" href="https://www.leslibraires.fr/livre/9275770-l-avenir-en-commun-le-programme-de-la-france-i--jean-luc-melenchon-le-seuil">libraire indépendant</a> proche de chez vous.
                                                         </p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="modal fade modal-measure" measure-index="2" id="modal-measure-2" tabindex="-1" role="dialog" aria-labelledby="#modal-measure-label-2">
                              <div class="modal-dialog modal-lg" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                          <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                                       </button>
                                       <h4 class="modal-title" id="modal-measure-label-2">
                                          <i class="hidden-xs hidden-sm fa fa-fw fa-2x fa-pull-left fa-institution" aria-hidden="true"></i>
                                          <span class="alternate">L&#039;urgence démocratique</span>Réunir une Assemblée constituante
                                       </h4>
                                    </div>
                                    <div class="modal-body lead">
                                       <p>Aucun parlementaire des anciennes assemblées de la 5e République ne pourra siéger dans cette Assemblée constituante. Les délégués à l'Assemblée constituante ne pourront être candidats aux élections suivant l'entrée en vigueur de la nouvelle Constitution</p>
                                    </div>
                                    <div class="modal-footer actions">
                                       <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fermer 
                                          <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                                       </button>
                                       <button title="Lien direct vers la mesure et boutons de partage sur les réseaux sociaux" class="btn btn-default share-collapser" data-target="#panel-m-share-2" aria-controls="panel-m-share-2" aria-expanded="false" data-toggle="collapse">
                                          <i class="fa fa-fw fa-share-alt"></i>&nbsp;
                                          <span class="visible-lg-inline">Partager</span>
                                       </button>
                                       <button title="À propos du livre papier…" class="btn btn-default pageref-collapser" data-target="#panel-m-pageref-2" aria-controls="panel-m-pageref-2" aria-expanded="false" data-toggle="collapse">
                                          <i class="fa fa-fw fa-bookmark"></i>&nbsp;
                                          <span class="visible-lg-inline">Page 
                                             <strong>23</strong>
                                          </span>
                                       </button>
                                       <div class="collapse collapsable share-collapsable" id="panel-m-share-2">
                                          <div class="panel-wrap">
                                             <div class="panel panel-default">
                                                <div class="panel-heading">Faites tourner cette mesure !</div>
                                                <div class="panel-body">
                                                   <div class="row">
                                                      <div class="col-md-5">
                                                         <label for="share-control-m-2">
                                                            <i class="fa fa-fw fa-link" aria-hidden="true"></i>Lien court direct
                                                         </label>
                                                         <div class="form">
                                                            <div class="form-group">
                                                               <div class="input-group">
                                                                  <div class="input-group-addon">
                                                                     <i class="fa fa-fw fa-anchor" aria-hidden="true"></i>
                                                                  </div>
                                                                  <input type="text" id="share-control-m-2" class="form-control share-control" readonly="readonly" value="http://laec.fr/s1m2" autofocus>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-7">
                                                            <label>
                                                               <i class="fa fa-fw fa-share" aria-hidden="true"></i>Réseaux sociaux
                                                            </label>
                                                            <nav class="btn-group networks" role="group">
                                                               <a data-popup-dimensions="560,430" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flaec.fr%2Fs1m2" class="btn btn-default share-link" data-network="Facebook" title="Partager cette mesure sur Facebook">
                                                                  <span class="visible-lg-inline visible-sm-inline">Facebook </span>
                                                                  <i class="fa fa-fw fa-facebook"></i>
                                                               </a>
                                                               <a data-popup-dimensions="430,284" href="https://twitter.com/home?status=%C3%80%20lire%20absolument%C2%A0%3A%20http%3A%2F%2Flaec.fr%2Fs1m2%20%F0%9F%98%8E%20%23AvenirEnCommun%20%23M%C3%A9lenchon%20%23JLM2017" class="btn btn-default share-link" data-network="Twitter" title="Partager cette mesure sur twitter">
                                                                  <span class="visible-lg-inline visible-sm-inline">Twitter </span>
                                                                  <i class="fa fa-fw fa-twitter"></i>
                                                               </a>
                                                               <a data-popup-dimensions="400,415" href="https://plus.google.com/share?url=http%3A%2F%2Flaec.fr%2Fs1m2" class="btn btn-default share-link" data-network="Google+" title="Partager cette mesure sur Google+">
                                                                  <span class="visible-lg-inline visible-sm-inline">Google+ </span>
                                                                  <i class="fa fa-fw fa-google-plus"></i>
                                                               </a>
                                                            </nav>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="collapse collapsable pageref-collapsable" id="panel-m-pageref-2">
                                             <div class="panel-wrap">
                                                <div class="panel panel-default">
                                                   <div class="panel-heading">L&#039;Avenir en commun</div>
                                                   <div class="panel-body">
                                                      <div class="row">
                                                         <div class="col-sm-2 col-sm-push-10 hidden-xs">
                                                            <img src="/img/livre/miniature-couverture-avenir-en-commun-france-insoumise-melenchon.png" alt="Couverture du livre-programme aux publié aux éditions du Seuil" class="img-responsive img-thumbnail"/>
                                                         </div>
                                                         <div class="col-sm-10 col-sm-pull-2">
                                                            <p>Retrouvez ce passage à la 
                                                               <strong>page 23</strong> du livre-programme de la France insoumise, publié aux 
                                                               <a href="http://www.seuil.com/ouvrage/l-avenir-en-commun-jean-luc-melenchon/9782021317510" class="external" title="Le programme sur le site officiel des éditions du Seuil">éditions du Seuil</a> et trouvable dans toutes les 
                                                               <a class="external" title="« Les libraires », réseau de librairies indépendantes" href="https://www.leslibraires.fr/le_reseau/">librairies</a> au prix de 
                                                               <strong>3 €</strong>.
                                                            </p>
                                                            <p>Vous pouvez aussi l'obtenir dans des magasins en lignes tels qu'
                                                               <a href="https://www.amazon.fr/programme-insoumise-candidat-Jean-Luc-M%C3%A9lenchon/dp/202131751X/" class="external">Amazon</a> ou la 
                                                               <a href="http://livre.fnac.com/a9371063/Jean-Luc-Melenchon-L-avenir-en-commun" class="external">Fnac</a>, ou encore le commander via internet chez un 
                                                               <a class="external" title="Trouver « L&#039;Avenir en commun » dans le réseau « les libraires »" href="https://www.leslibraires.fr/livre/9275770-l-avenir-en-commun-le-programme-de-la-france-i--jean-luc-melenchon-le-seuil">libraire indépendant</a> proche de chez vous.
                                                            </p>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="modal fade modal-measure" measure-index="3" id="modal-measure-3" tabindex="-1" role="dialog" aria-labelledby="#modal-measure-label-3">
                                 <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                             <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                                          </button>
                                          <h4 class="modal-title" id="modal-measure-label-3">
                                             <i class="hidden-xs hidden-sm fa fa-fw fa-2x fa-pull-left fa-institution" aria-hidden="true"></i>
                                             <span class="alternate">L&#039;urgence démocratique</span>Réunir une Assemblée constituante
                                          </h4>
                                       </div>
                                       <div class="modal-body lead">
                                          <p>Le projet de Constitution proposé par l'Assemblée constituante sera soumis à un référendum d'approbation</p>
                                       </div>
                                       <div class="modal-footer actions">
                                          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fermer 
                                             <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                                          </button>
                                          <button title="Lien direct vers la mesure et boutons de partage sur les réseaux sociaux" class="btn btn-default share-collapser" data-target="#panel-m-share-3" aria-controls="panel-m-share-3" aria-expanded="false" data-toggle="collapse">
                                             <i class="fa fa-fw fa-share-alt"></i>&nbsp;
                                             <span class="visible-lg-inline">Partager</span>
                                          </button>
                                          <button title="À propos du livre papier…" class="btn btn-default pageref-collapser" data-target="#panel-m-pageref-3" aria-controls="panel-m-pageref-3" aria-expanded="false" data-toggle="collapse">
                                             <i class="fa fa-fw fa-bookmark"></i>&nbsp;
                                             <span class="visible-lg-inline">Page 
                                                <strong>24</strong>
                                             </span>
                                          </button>
                                          <div class="collapse collapsable share-collapsable" id="panel-m-share-3">
                                             <div class="panel-wrap">
                                                <div class="panel panel-default">
                                                   <div class="panel-heading">Faites tourner cette mesure !</div>
                                                   <div class="panel-body">
                                                      <div class="row">
                                                         <div class="col-md-5">
                                                            <label for="share-control-m-3">
                                                               <i class="fa fa-fw fa-link" aria-hidden="true"></i>Lien court direct
                                                            </label>
                                                            <div class="form">
                                                               <div class="form-group">
                                                                  <div class="input-group">
                                                                     <div class="input-group-addon">
                                                                        <i class="fa fa-fw fa-anchor" aria-hidden="true"></i>
                                                                     </div>
                                                                     <input type="text" id="share-control-m-3" class="form-control share-control" readonly="readonly" value="http://laec.fr/s1m3" autofocus>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-md-7">
                                                               <label>
                                                                  <i class="fa fa-fw fa-share" aria-hidden="true"></i>Réseaux sociaux
                                                               </label>
                                                               <nav class="btn-group networks" role="group">
                                                                  <a data-popup-dimensions="560,430" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flaec.fr%2Fs1m3" class="btn btn-default share-link" data-network="Facebook" title="Partager cette mesure sur Facebook">
                                                                     <span class="visible-lg-inline visible-sm-inline">Facebook </span>
                                                                     <i class="fa fa-fw fa-facebook"></i>
                                                                  </a>
                                                                  <a data-popup-dimensions="430,284" href="https://twitter.com/home?status=%C3%80%20lire%20absolument%C2%A0%3A%20http%3A%2F%2Flaec.fr%2Fs1m3%20%F0%9F%98%8E%20%23AvenirEnCommun%20%23M%C3%A9lenchon%20%23JLM2017" class="btn btn-default share-link" data-network="Twitter" title="Partager cette mesure sur twitter">
                                                                     <span class="visible-lg-inline visible-sm-inline">Twitter </span>
                                                                     <i class="fa fa-fw fa-twitter"></i>
                                                                  </a>
                                                                  <a data-popup-dimensions="400,415" href="https://plus.google.com/share?url=http%3A%2F%2Flaec.fr%2Fs1m3" class="btn btn-default share-link" data-network="Google+" title="Partager cette mesure sur Google+">
                                                                     <span class="visible-lg-inline visible-sm-inline">Google+ </span>
                                                                     <i class="fa fa-fw fa-google-plus"></i>
                                                                  </a>
                                                               </nav>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="collapse collapsable pageref-collapsable" id="panel-m-pageref-3">
                                                <div class="panel-wrap">
                                                   <div class="panel panel-default">
                                                      <div class="panel-heading">L&#039;Avenir en commun</div>
                                                      <div class="panel-body">
                                                         <div class="row">
                                                            <div class="col-sm-2 col-sm-push-10 hidden-xs">
                                                               <img src="/img/livre/miniature-couverture-avenir-en-commun-france-insoumise-melenchon.png" alt="Couverture du livre-programme aux publié aux éditions du Seuil" class="img-responsive img-thumbnail"/>
                                                            </div>
                                                            <div class="col-sm-10 col-sm-pull-2">
                                                               <p>Retrouvez ce passage à la 
                                                                  <strong>page 24</strong> du livre-programme de la France insoumise, publié aux 
                                                                  <a href="http://www.seuil.com/ouvrage/l-avenir-en-commun-jean-luc-melenchon/9782021317510" class="external" title="Le programme sur le site officiel des éditions du Seuil">éditions du Seuil</a> et trouvable dans toutes les 
                                                                  <a class="external" title="« Les libraires », réseau de librairies indépendantes" href="https://www.leslibraires.fr/le_reseau/">librairies</a> au prix de 
                                                                  <strong>3 €</strong>.
                                                               </p>
                                                               <p>Vous pouvez aussi l'obtenir dans des magasins en lignes tels qu'
                                                                  <a href="https://www.amazon.fr/programme-insoumise-candidat-Jean-Luc-M%C3%A9lenchon/dp/202131751X/" class="external">Amazon</a> ou la 
                                                                  <a href="http://livre.fnac.com/a9371063/Jean-Luc-Melenchon-L-avenir-en-commun" class="external">Fnac</a>, ou encore le commander via internet chez un 
                                                                  <a class="external" title="Trouver « L&#039;Avenir en commun » dans le réseau « les libraires »" href="https://www.leslibraires.fr/livre/9275770-l-avenir-en-commun-le-programme-de-la-france-i--jean-luc-melenchon-le-seuil">libraire indépendant</a> proche de chez vous.
                                                               </p>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <script src="/static/app.js"></script>
                              </body>
{% endblock %}
