{% extends 'base.html' %}
{% block html_class %}page-toc{% endblock %}
{% block body %}
<body id="body">
               {% include "_navbar.html" %}
               <div class="jumbotron">
                  <div class="container">
                     <h1 style="">
                        <b>
                           <i class="fa fa-fw fa-list-ul" aria-hidden="true"></i>
            Table des matières
            
                        </b>
                     </h1>
                     <p class="sidelines" aria-hidden="true">
                        <i class="fa fa-phi"></i>
                     </p>
                     <a rel="start" data-load-display="" href="/">
                        <i class="fa fa-fw fa-home" aria-hidden="true"></i>
         Retour à l'accueil
         
                     </a>
                  </div>
               </div>
               <div class="wrap-container-main">
                  <div class="container container-main">
                     <noscript class="visible-no-js small text-muted">
                        <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Je n'ai pas activé le javascript, 
                        <a href="/page/le-javascript-c-est-non" title="Informations sur les fonctionnalités de LAEC.fr nécessitant l'utilisation de javascript">qu'est-ce que je manque</a> ?
                     </noscript>
                     <div class="row">
                        <aside class="col-md-4 col-md-push-8 aside-content-container">
                           <ul role="navigation" id="side-navigation">
                              <li data-track-event="Navigation" data-event-action="Au hasard&nbsp;!" data-event-name="Navigation du contenu" title="" data-delay="{&quot;show&quot;:&quot;800&quot;, &quot;hide&quot;:&quot;50&quot;}" data-toggle="tooltip" data-original-title="Consulter une section du programme au hasard">
                                 <a data-li-tooltip="" data-load-display="" href="/hasard">
                                    <i class="fa fa-fw fa-random" aria-hidden="true"></i> Au hasard !
                                 </a>
                              </li>
                              <li class="heading">
                                 <span>
                                    <i class="fa fa-fw fa-anchor" aria-hidden="true"></i> Accès rapide
                                 </span>
                              </li>
                              <li>
                                 <a href="#chapitre-1" title="Scroller vers le chapitre" data-do-scroll-to="600">
                                    <i class="fa fa-fw fa-institution" aria-hidden="true"></i> L'urgence démocratique
                                 </a>
                              </li>
                              <li>
                                 <a href="#chapitre-2" title="Scroller vers le chapitre" data-do-scroll-to="800">
                                    <i class="fa fa-fw fa-balance-scale" aria-hidden="true"></i> L'urgence sociale
                                 </a>
                              </li>
                              <li>
                                 <a href="#chapitre-3" title="Scroller vers le chapitre" data-do-scroll-to="1000">
                                    <i class="fa fa-fw fa-leaf" aria-hidden="true"></i> L'urgence écologique
                                 </a>
                              </li>
                              <li>
                                 <a href="#chapitre-4" title="Scroller vers le chapitre" data-do-scroll-to="1200">
                                    <i class="fa fa-fw fa-star-half-o" aria-hidden="true"></i> L'europe en question
                                 </a>
                              </li>
                              <li>
                                 <a href="#chapitre-5" title="Scroller vers le chapitre" data-do-scroll-to="1400">
                                    <i class="fa fa-fw fa-handshake-o" aria-hidden="true"></i> La paix en question
                                 </a>
                              </li>
                              <li>
                                 <a href="#chapitre-6" title="Scroller vers le chapitre" data-do-scroll-to="1600">
                                    <i class="fa fa-fw fa-heartbeat" aria-hidden="true"></i> Face à la grande régression
                                 </a>
                              </li>
                              <li>
                                 <a href="#chapitre-7" title="Scroller vers le chapitre" data-do-scroll-to="1800">
                                    <i class="fa fa-fw fa-rocket" aria-hidden="true"></i> Face au déclinisme
                                 </a>
                              </li>
                           </ul>
                           <p class="sidelines" aria-hidden="true">
                              <i class="fa fa-fw fa-phi"></i>
                           </p>
                           <p>Vous 
                              <strong>approuvez ce programme</strong> et souhaitez le voir appliqué&nbsp;?&nbsp;Alors aidez la France insoumise dans ses initiatives&nbsp;!
                           </p>
                           <p>
                              <a href="https://lafranceinsoumise.fr/" class="external btn btn-primary btn-block" title="Soutenir la France Insoumise">Soutenir ce programme 
                                 <i class="fa fa-fw fa-hand-o-right" aria-hidden="true"></i>
                              </a>
                           </p>
                           </aside>
                           <article class="col-md-8 col-md-pull-4 main-content-container" id="contenu" role="main">
                              <nav class="toc list-group" role="navigation">
				 {% for chapter in chapters %}
				 <a id="chapitre-{{chapter.number}}" class="list-group-item toc-chapter toc-chapter-la-6e-republique" href="/chapitre/{{chapter.number}}/{{chapter.slug}}">
                                    <span class="alternate">{{chapter.title}}</span>
                                 </a>
				 {% for article in chapter.article_set.all %}
                                 <a class="list-group-item toc-section toc-chapter-la-6e-republique" href="/section/{{article.number}}/{{article.slug}}">
                                    <span class="label label-default">{{article.number}}</span> {{article.title}}</a>
				 {% endfor %}
                                 <div class="list-group-item list-group-separator" aria-hidden="true">
                                    <p class="sidelines">
                                       <i class="fa fa-fw fa-scissors"></i>
                                    </p>
                                 </div>
				 {% endfor %}
                        <a href="#body" id="back-to-top" data-do-scroll-to="800" title="Retour en haut de la page" class="">
                           <i class="fa fa-arrow-up" aria-hidden="true"></i>
                           <span> Retour en haut de page</span>
                        </a>
                     </div>
                  </div>
                  {% include '_footer.html' %}
                  <script src="/static/app.js"></script>
                  <div class="total-loading-backdrop">
                     <div class="loading-animation">
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                     </div>
                  </div>
               </body>
            </html>
{% endblock body %}
